mat-card {
  max-width: 900px;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-between;
}

.flex-item {
  flex: 1;
  margin-right: 10px;
}

.flex-item:last-child {
  margin-right: 0;
}

/* Para garantir que o botão 'Pesquisar' e 'Salvar' fiquem posicionados corretamente */
.button-row {
  display: flex;
  justify-content: flex-end;
}

button {
  display: block;
  margin-top: 20px;
}

button.save-button {
  margin-left: 10px;
}

/* Centraliza o texto nas colunas da tabela */
.table-cell {
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-header-cell {
  background-color: #438EB9;
  color: white;
  text-align: center;
  font-weight: bold;
  padding: 8px;
  font-size: 16px;
}

.mat-cell {
  text-align: center;
  padding: 8px;
}
