
<mat-toolbar color="primary" class="app-toolbar">
  <button mat-icon-button (click)="sidenav.toggle()" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>{{ pageTitle }}</span>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="isSidenavOpen" class="custom-sidenav" style=" background: #3f51b5;">
    <!-- Conteúdo do menu lateral -->
    <mat-nav-list >
      <a style="color: white; " mat-list-item routerLink="/home" (click)="updateTitle('Home')">Home</a>
      <a style="color: white;" mat-list-item routerLink="/setor" (click)="updateTitle('Setor')">Setor</a>
      <a style="color: white;" mat-list-item routerLink="/igreja" (click)="updateTitle('Igreja')">Igreja</a>
      <a style="color: white;" mat-list-item routerLink="/usuario" (click)="updateTitle('Usuário')">Usuário</a>
      <a style="color: white;" mat-list-item routerLink="/produto" (click)="updateTitle('Produto')">Produto</a>
      <a style="color: white;" mat-list-item routerLink="/categoria" (click)="updateTitle('Categoria')">Categoria</a>
   
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Conteúdo principal da aplicação -->
    <div class="main-content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
