<mat-card>
  <h1>Cadastro de Igreja</h1>
  <form (ngSubmit)="onSubmit()" #igrejaForm="ngForm">
    <!-- Form fields -->
    <div class="inline-fields">
      <mat-form-field class="form-field" style="width: 50%;">
        <input matInput placeholder="Nome" [(ngModel)]="igreja.nome" name="nome" required />
      </mat-form-field>
      <mat-form-field class="form-field" style="width: 20%;">
        <input matInput placeholder="Código da Igreja" [(ngModel)]="igreja.codigo_igreja" name="codigo_igreja" required />
      </mat-form-field>
    </div>
    <div class="address-container">
      <mat-form-field class="form-field logradouro-field">
        <input matInput placeholder="Logradouro" [(ngModel)]="igreja.logradouro" name="logradouro" />
      </mat-form-field>
      <mat-form-field class="form-field numero-field">
        <input matInput placeholder="Número" [(ngModel)]="igreja.numero" name="numero" />
      </mat-form-field>
    </div>
    <br />
    <div class="details-container">
      <mat-form-field class="form-field complemento-field">
        <input matInput placeholder="Complemento" [(ngModel)]="igreja.complemento" name="complemento" />
      </mat-form-field>
      <mat-form-field class="form-field bairro-field">
        <input matInput placeholder="Bairro" [(ngModel)]="igreja.bairro" name="bairro" />
      </mat-form-field>
      <mat-form-field class="form-field cep-field">
        <input matInput placeholder="CEP" [(ngModel)]="igreja.cep" name="cep" />
      </mat-form-field>
      <mat-form-field class="form-field cidade-field">
        <mat-label>Cidade</mat-label>
        <mat-select [(ngModel)]="igreja.cidade_codigo" name="cidade_codigo">
          <mat-option *ngFor="let cidade of cidades" [value]="cidade.id">{{ cidade.nome }}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="form-field uf-field">
        <mat-label>Estado</mat-label>
        <mat-select [(ngModel)]="igreja.uf_codigo" name="uf_codigo">
          <mat-option *ngFor="let uf of estados" [value]="uf.id">{{ uf.nome }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <br />
    <div class="form-container">
      <div class="inline-fields">
        <mat-form-field class="form-field">
          <mat-label>Setor</mat-label>
          <mat-select [(ngModel)]="igreja.codigo_setor" name="codigo_setor" required>
            <mat-option *ngFor="let setor of setores" [value]="setor.codigo">{{ setor.nome }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-checkbox class="form-field" [(ngModel)]="igreja.ativo" name="ativo">Ativo</mat-checkbox>
      </div>
    </div>
    <div class="button-wrapper">
      <button mat-raised-button color="primary" type="submit">Salvar</button>
    </div>
  </form>
</mat-card>

<mat-card>
  <table mat-table [dataSource]="igrejas" class="mat-elevation-z8 tabela-com-linhas">
    <!-- Coluna Codigo Igreja -->
    <ng-container matColumnDef="codigo_igreja">
      <th mat-header-cell *matHeaderCellDef style="text-align: center; font-size: 15px;">Código};</th>
      <td mat-cell *matCellDef="let element">{{ element.codigo_igreja }}</td>
    </ng-container>
    
    <!-- Coluna Nome -->
    <ng-container matColumnDef="nome">
      <th mat-header-cell *matHeaderCellDef style="text-align: center; font-size: 15px;">Nome</th>
      <td mat-cell *matCellDef="let element">{{ element.nome }}</td>
    </ng-container>

    <!-- Coluna Logradouro -->
    <ng-container matColumnDef="logradouro">
      <th mat-header-cell *matHeaderCellDef style="text-align: center; font-size: 15px;">Logradouro</th>
      <td mat-cell *matCellDef="let element">{{ element.logradouro }}</td>
    </ng-container>

    <!-- Coluna Número -->
    <ng-container matColumnDef="numero">
      <th mat-header-cell *matHeaderCellDef style="text-align: center; font-size: 15px;">Número</th>
      <td mat-cell *matCellDef="let element">{{ element.numero }}</td>
    </ng-container>

    <!-- Coluna Setor -->
    <ng-container matColumnDef="setor">
      <th mat-header-cell *matHeaderCellDef style="text-align: center; font-size: 15px;">Setor</th>
      <td mat-cell *matCellDef="let element">{{ element.setor }}</td>
    </ng-container>

    <!-- Coluna Ativo -->
    <ng-container matColumnDef="ativo">
      <th mat-header-cell *matHeaderCellDef style="text-align: center; font-size: 15px;">Ativo</th>
      <td mat-cell *matCellDef="let element">{{ element.ativo ? 'Sim' : 'Não' }}</td>
    </ng-container>

    <!-- Coluna Ações -->
    <ng-container matColumnDef="acoes">
      <th mat-header-cell *matHeaderCellDef style="text-align: center; font-size: 15px;">Ações</th>
      <td mat-cell *matCellDef="let element" style="text-align: center;">
        <button mat-icon-button color="primary" (click)="onEdit(element)" matTooltip="Editar">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="onDelete(element)" matTooltip="Deletar">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>
