<mat-card-title>Cadastro de Transportadora</mat-card-title>
<br><br>
<form [formGroup]="transportadoraForm" (ngSubmit)="onSubmit()">
    <!-- Razão Social e Nome Fantasia na mesma linha -->
    <div class="form-row" style="display: flex; justify-content: space-between;">
      <mat-form-field appearance="outline" class="nome" style="flex: 1; margin-right: 16px;">
        <mat-label>Razão Social</mat-label>
        <input matInput formControlName="razao_social" required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="nome" style="flex: 1;">
        <mat-label>Nome Fantasia</mat-label>
        <input matInput formControlName="nome_fantasia">
      </mat-form-field>
    </div>
  
    <!-- CNPJ e Inscrição Estadual na mesma linha -->
    <div class="form-row" style="display: flex; justify-content: space-between;">
      <mat-form-field appearance="outline" class="nome" style="flex: 1; margin-right: 16px;">
        <mat-label>CNPJ</mat-label>
        <input matInput formControlName="cnpj" required>
      </mat-form-field>
      <mat-form-field appearance="outline" class="nome" style="flex: 1;">
        <mat-label>Inscrição Estadual</mat-label>
        <input matInput formControlName="inscricao_estadual">
      </mat-form-field>
    </div>
  
    <!-- Telefone Fixo, Telefone Celular e Email na mesma linha -->
    <div class="form-row" style="display: flex; justify-content: space-between;">
      <mat-form-field appearance="outline" class="nome" style="flex: 1; margin-right: 16px;">
        <mat-label>Telefone Fixo</mat-label>
        <input matInput formControlName="telefone_fixo">
      </mat-form-field>
      <mat-form-field appearance="outline" class="nome" style="flex: 1; margin-right: 16px;">
        <mat-label>Telefone Celular</mat-label>
        <input matInput formControlName="telefone_celular">
      </mat-form-field>
      <mat-form-field appearance="outline" class="nome" style="flex: 2;">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>
    </div>
  
    <!-- Logradouro e Número na mesma linha (Número com 30%) -->
    <div class="form-row" style="display: flex; justify-content: space-between;">
      <mat-form-field appearance="outline" class="nome" style="flex: 7; margin-right: 16px;">
        <mat-label>Logradouro</mat-label>
        <input matInput formControlName="logradouro">
      </mat-form-field>
      <mat-form-field appearance="outline" class="nome" style="flex: 3;">
        <mat-label>Número</mat-label>
        <input matInput formControlName="numero">
      </mat-form-field>
    </div>
  
    <!-- Complemento, Bairro e CEP na mesma linha -->
    <div class="form-row" style="display: flex; justify-content: space-between;">
      <mat-form-field appearance="outline" class="nome" style="flex: 1; margin-right: 16px;">
        <mat-label>Complemento</mat-label>
        <input matInput formControlName="complemento">
      </mat-form-field>
      <mat-form-field appearance="outline" class="nome" style="flex: 1; margin-right: 16px;">
        <mat-label>Bairro</mat-label>
        <input matInput formControlName="bairro">
      </mat-form-field>
      <mat-form-field appearance="outline" class="nome" style="flex: 1;">
        <mat-label>CEP</mat-label>
        <input matInput formControlName="cep">
      </mat-form-field>
    </div>
  
    <!-- Cidade e UF na mesma linha -->
    <div class="form-row" style="display: flex; justify-content: space-between;">
      <mat-form-field appearance="outline" class="nome" style="flex: 7; margin-right: 16px;">
        <mat-label>Cidade</mat-label>
        <input matInput formControlName="cidade_codigo">
      </mat-form-field>
      <mat-form-field appearance="outline" class="nome" style="flex: 3;">
        <mat-label>UF</mat-label>
        <input matInput formControlName="uf_codigo">
      </mat-form-field>
    </div>
  
    <!-- Botão de Salvar -->
    <div class="form-row">
      <button mat-raised-button color="primary" type="submit">Salvar</button>
    </div>
  </form>
  