/* Container principal */
.example-container {
  height: 100vh; /* Ocupa toda a altura da viewport */
  display: flex;
  flex-direction: column;
}

/* Estilo para o mat-sidenav */
.mat-sidenav {
  width: 250px;
  background: #3f51b5;
  color: white;
  height: 100%; /* Garante que o sidenav ocupe toda a altura */
}

/* Toolbar */
.mat-toolbar {
  z-index: 2;
  background-color: #3f51b5;
  color: white;
}

/* Conteúdo principal */
.main-content {
  flex: 1;
  padding: 16px;
  transition: margin-left 0.3s;
}

.mat-sidenav-content {
  margin-left: 0;
  transition: margin-left 0.3s;
}

.mat-sidenav-opened .mat-sidenav-content {
  margin-left: 250px;
}

/* Estilo para os itens do menu lateral */
.mat-nav-list .mat-list-item {
  color: white;
}

.mat-nav-list .mat-list-item:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.mat-nav-list a {
  color: white;
  text-decoration: none;
  width: 100%; /* Garante que o link ocupe toda a largura disponível */
  display: flex;
  justify-content: center; /* Centraliza o conteúdo do link */
}

.mat-nav-list a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Estilo para mat-expansion-panel */
.mat-accordion .mat-expansion-panel-header {
  background-color: #3f51b5 !important;
  color: white;
}

/* Estilo para os títulos */
.page-title {
  margin-left: 50px; /* Ajuste este valor conforme necessário */
}

/* Estilo para os formulários */
.product-form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* Espaçamento entre os elementos */
}

.form-field {
  flex: 1;
  min-width: 200px; /* Largura mínima para evitar que os campos fiquem muito pequenos */
}

.form-row .full-width {
  flex: 1 1 100%; /* Ocupar toda a largura */
}

/* Botão */
button {
  align-self: flex-start; /* Alinhar o botão no início */
}

/* Outros estilos específicos */
.address-container,
.details-container,
.form-container,
.checkbox-wrapper,
.button-wrapper,
.inline-fields {
  display: flex;
  gap: 16px; /* Espaçamento entre os elementos */
}

.address-container .logradouro-field {
  flex: 4; /* 80% da linha */
}

.address-container .numero-field {
  flex: 1; /* 20% da linha */
}

.details-container .complemento-field,
.details-container .bairro-field,
.details-container .cep-field,
.details-container .cidade-field {
  flex: 1; /* Dividem os 90% restantes */
}

.details-container .uf-field {
  flex: 0 0 10%; /* Ocupa 10% da linha */
}

.form-container {
  flex-direction: column; /* Organiza os elementos verticalmente */
}

.checkbox-wrapper {
  align-items: center; /* Alinha os elementos na vertical */
}

.inline-fields {
  align-items: center; /* Alinha os itens verticalmente no centro */
}

.nav-list {
  flex-direction: column;
  align-items: center; /* Centraliza os itens horizontalmente */
}

.nav-link {
  text-align: center; /* Centraliza o texto dentro do link */
}
