/* Container and Layout */
.input-container, .form-row, .address-container, .details-container, .checkbox-wrapper, .button-wrapper, .inline-fields, .nav-list, .buttons-row {
  display: flex;
  gap: 16px;
  align-items: center;
}

.example-container, .mat-sidenav, .mat-toolbar, .main-content, .mat-sidenav-content, .custom-sidenav, .custom-nav-list {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.example-container {
  height: 100vh; /* Ocupa toda a altura da viewport */
}

.mat-sidenav, .mat-toolbar {
  background: #a6aabd;
  color: white;
}

.mat-sidenav {
  width: 250px;
}

.mat-toolbar {
  z-index: 2;
}

.main-content {
  flex: 1;
  padding: 16px;
  transition: margin-left 0.3s;
}

.mat-sidenav-content {
  margin-left: 0;
  transition: margin-left 0.3s;
}

.mat-sidenav-opened .mat-sidenav-content {
  margin-left: 250px;
}

/* Form and Input Fields */
.input-label {
  margin-right: 8px;
}

.input-field {
  width: 20%;
  border-radius: 8px;
  border: 1px solid rgb(88, 87, 87);
  padding: 4px 30px 4px 4px;
  background-color: grey;
}

.input-field:focus {
  background-color: lightgrey; /* Cor de fundo ao focar */
}

.search-icon {
  position: absolute;
  width: 15px;
  height: 20px;
  cursor: pointer;
}

/* Navigation and Lists */
.mat-nav-list .mat-list-item,
.mat-nav-list a {
  color: white;
  text-decoration: none;
  width: 100%;
  display: flex;
  justify-content: center;
}

.mat-nav-list .mat-list-item:hover,
.mat-nav-list a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* Forms and Buttons */
.product-form, .form-container {
  display: flex;
  flex-direction: column;
}

.form-field {
  flex: 1;
  min-width: 200px;
}

.form-row .full-width {
  flex: 1 1 100%; /* Ocupar toda a largura */
}

.button {
  align-self: flex-start;
}

.address-container .logradouro-field {
  flex: 4;
}

.address-container .numero-field,
.details-container .complemento-field,
.details-container .bairro-field,
.details-container .cep-field,
.details-container .cidade-field {
  flex: 1;
}

.details-container .uf-field {
  flex: 0 0 10%;
}

.buttons-row button {
  margin-right: 8px;
}

.buttons-row button:last-child,
.button-wrapper button:last-child {
  margin-right: 0;
}

/* Miscellaneous */
.page-title {
  margin-left: 50px;
}

.mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

.mat-header-cell, .mat-cell {
  white-space: nowrap;
  padding: 8px 16px;
  
}

.mat-header-cell {
  text-align: center; /* Centraliza o texto nas células do cabeçalho */
  padding: 0 20px;
  font: bold;
}

.full-width-table,
.full-width {
  width: 100%;
}

.mat-header-row, .mat-row {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.spacer {
  flex: 1 1 auto;
}

.logout-button {
  margin-left: 16px;
}

.custom-card {
  width: 80%;
  margin: 0 auto;
}

.custom-nome-field,
.custom-logradouro-field,
.custom-complemento-field,
.custom-setor-field {
  width: 45% !important;
}

.form-container {
  margin-bottom: 0 !important;
}

.inline-fields {
  margin-top: -20px; /* Ajuste conforme necessário */
}

.button-wrapper button {
  margin-right: 8px; /* Espaçamento entre botões */
}

.button-wrapper button:last-child {
  margin-right: 0;
}

table {
  width: 100%;
}

.mat-header-cell, .mat-cell {
  text-align: center; /* Centraliza o texto nas células */
  padding: 8px;
}

.centered-cell {
  text-align: center; /* Centraliza o texto nas células específicas */
}

.tabela-com-linhas th, .tabela-com-linhas td {
  border-right: 1px solid #e0e0e0; /* Cor da linha vertical */
}

.tabela-com-linhas th:last-child, .tabela-com-linhas td:last-child {
  border-right: none; /* Remove a linha da última coluna */
}
.mat-form-field {
  margin-bottom: 8px;
}

.address-container, .details-container, .form-container {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
}

.inline-fields {
  display: flex;
  align-items: center;
  gap: 16px;
}

.button-wrapper {
  text-align: right;
  margin-top: 16px;
}
.produto-form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.nome {
  flex: 0 0 80%;
}

.volume {
  flex: 0 0 18%; /* deixando 2% para espaçamento */
}

.codigo-barras {
  flex: 0 0 48%;
}

.categoria {
  flex: 0 0 48%;
}

.marca {
  flex: 0 0 48%;
}

.fornecedor {
  flex: 0 0 48%;
}

.observacao {
  flex: 0 0 70%;
}
.save-button {
  width: fit-content; /* Ajusta a largura do botão ao conteúdo */
  min-width: initial; /* Remove a largura mínima imposta pelo Angular Material */
  padding: 6px 16px; /* Define um espaçamento interno padrão */
  margin-top: 10px; /* Adiciona um espaço superior para separar o botão dos outros elementos */
}
.success-message {
  color: green;
  margin-bottom: 15px;
}
.mat-column-nome {
  max-width: 200px; /* Ajuste a largura máxima conforme necessário */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
