.example-container {
  height: 100%;
  display: flex;
  flex-direction: column;
}

mat-sidenav {
  width: 250px;
  background: #3f51b5; /* Mantém o fundo do sidenav */
  color: white;
}

mat-toolbar {
  z-index: 2;
}

.main-content {
  flex: 1;
  padding: 16px;
  transition: margin-left 0.3s;
}

.mat-sidenav-content {
  margin-left: 0;
  transition: margin-left 0.3s;
}

.mat-sidenav-opened .mat-sidenav-content {
  margin-left: 250px;
}

/* Estilo específico para garantir que os links sejam brancos */
mat-nav-list a.mat-list-item {
  color: white; /* Define a cor dos links como branca */
}

mat-nav-list a.mat-list-item:hover {
  background-color: rgba(255, 255, 255, 0.1); /* Define um efeito de hover para os links */
}

.address-container {
  display: flex;
  gap: 16px; /* Ajuste este valor conforme necessário para espaçamento */
}

.logradouro-field {
  flex: 4; /* 80% da linha */
}

.numero-field {
  flex: 1; /* 20% da linha */
}

.details-container {
  display: flex;
  gap: 16px; /* Espaçamento entre os campos, ajuste conforme necessário */
}

.complemento-field,
.bairro-field,
.cep-field,
.cidade-field {
  flex: 1; /* Dividem os 90% restantes */
}

.uf-field {
  flex: 0 0 10%; /* Ocupa 10% da linha */
}

.form-container {
  display: flex;
  flex-direction: column; /* Organiza os elementos verticalmente */
  gap: 16px; /* Espaço entre os grupos */
}

.checkbox-wrapper {
  display: flex;
  align-items: center; /* Alinha os elementos na vertical */
  gap: 16px; /* Espaço entre o mat-select e o mat-checkbox */
}

.button-wrapper {
  margin-top: 16px; /* Espaçamento superior para o botão */
}
.inline-fields {
  display: flex;
  align-items: center; /* Alinha os itens verticalmente no centro */
  gap: 16px; /* Espaço entre os elementos */
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os itens horizontalmente */
}

.nav-link {
  color: white;
  width: 100%; /* Garante que o link ocupe toda a largura disponível */
  text-align: center; /* Centraliza o texto dentro do link */
  display: flex;
  justify-content: center; /* Centraliza o conteúdo do link */
}

.example-container {
  height: 100vh; /* Ocupa toda a altura da viewport */
}

.custom-sidenav {
  background: #3f51b5;
  height: 100%;
}

.nav-list {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centraliza os itens horizontalmente */
}

.nav-link {
  color: white;
  width: 100%; /* Garante que o link ocupe toda a largura disponível */
  text-align: center; /* Centraliza o texto dentro do link */
}
.page-title {
  margin-left: 50px; /* Ajuste este valor conforme necessário */
}