.mat-header-cell {
    background-color: #438EB9;
    color: white;
    text-align: center;
    font-size: 15px;
  }

  /* CSS para a tabela */
table {
  table-layout: fixed;
  width: 100%;
}
/* Adicione este CSS ao seu arquivo de estilos */
.table-bordered th,
.table-bordered td {
  border: 1px solid #424141;
  text-align: center;
}
